body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    animation: COR-DE-ALARME 1s ease-out infinite
}

@keyframes COR-DE-ALARME {
    0% {
        background-color: white;
    }
    50% {
        background-color: rgb(255, 171, 171);
    }
    100% {
        background-color: white;
    }
}

#gif {
    position: absolute;
    z-index: -1;
    opacity: 0.75;
    height: 20vw;
}

#aviso {
    font-size: 6vw;
}

#vermelho {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 20px rgb(255, 255, 255);
}

#subtitulo {
    margin-top: -4vw;
    font-size: 2vw;
    font-weight: 200;
}